<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.nick_sib.historyscreen">

    <dist:module
        dist:instant="false"
        dist:onDemand="true"
        dist:title="@string/title_historyscreenfeature">
        <dist:fusing dist:include="true"/>


<!--        dist:instant="false"-->
<!--        dist:title="@string/title_historyscreenfeature">-->
<!--        <dist:delivery>-->
<!--            <dist:on-demand />-->
<!--        </dist:delivery>-->
<!--        <dist:fusing dist:include="true" />-->
    </dist:module>

    <application>
        <activity
            android:name=".HistoryActivity"/>
    </application>

</manifest>